<h1>Editing heropower</h1>

<%= render "form", heropower: @heropower %>

<br>

<div>
  <%= link_to "Show this heropower", @heropower %> |
  <%= link_to "Back to heropowers", heropowers_path %>
</div>
