<div id="<%= dom_id heropower %>">
  <p>
    <strong>Strength:</strong>
    <%= heropower.strength %>
  </p>

  <p>
    <strong>Hero:</strong>
    <%= heropower.hero_id %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= heropower.power_id %>
  </p>

</div>
